body{
	font-family: 'Jura', sans-serif;
	color: #F7F7F7;
}

h1{
	font-family: 'Black Ops One', Cursive;
	font-size: 3em;
	font-weight: bolder;
	color: #FFF;
}

.screen{
	display: none;
	text-align: center;
	width: 960px;
	background-image: url(imgs/fondo.jpg);
	background-size: 100% 100%;
}

.p{
	height: 350px;
	display: inline-block;
}

.datos{
	display: inline-block;
	width: 600px;
	text-align: center;;
	vertical-align: top;
}

p img{
	height: 50px;
}

img{
	vertical-align: widdle;
}

.btn{
	font-family: 'Jura', sans-serif;
	font-size: 1.5em;
	padding: 1em 3em;
	background-color: #F7F7F7;
	background-color: #000028;
	color: #F7F7F7;
	border: none;
	-webkit-transition: all 0.4s;
}

.btn:hover{
	background-color: #F7F7F7;
	color: #222;
	cursor: pointer;
}

#marco{
	margin-left: 200px;
	margin-top: 70px;
}